.heading-container {
    text-align: center;
}

.heading-text {
  color: white;
  margin-bottom: 1px;
  font-size: 25px;
}

.reminder-text {
  color: #819ca8;
  font-size: 20px;
}

.reminder-count {
  color: #ddd640;
  cursor: pointer;
}
